ora4/movies/movies.dtd

<!ELEMENT movies (movie*)>

<!ELEMENT movie (title+,year,genre+,rating,votes)>
<!ATTLIST movie 
    id CDATA #REQUIRED
    mpa-rating (G|PG|PG-13|R|NC-17) #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ATTLIST title 
    xml:lang NMTOKEN #REQUIRED>

<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT votes (#PCDATA)>